<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>template</title>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	
	<header>
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="container">
		    	<div class="navbar-header">
		    	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    	    <span class="sr-only">Toggle navigation</span>
		    	    <span class="icon-bar"></span>
		    	    <span class="icon-bar"></span>
		    	    <span class="icon-bar"></span>
		    	  </button>
		    	  <a class="navbar-brand" href="index.html">Project name</a>
		    	</div>
		    			
		    	<!-- Collect the nav links, forms, and other content for toggling -->
		    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	  <ul class="nav navbar-nav">
		    	    <li><a href="index.html">home<span class="sr-only">(current)</span></a></li>
		    	    <li><a href="about.html">about</a></li>	    	    
		    	    <li><a href="contacts.html">contacts</a></li>	    	    
		    	  </ul>
		    	  <ul class="nav navbar-nav navbar-right">
					  <li><a href="signIn.html">Sign In</a></li>
					  <li class="active"><a href="signUp.html">Sign Up</a></li>
		    	  </ul>
		    	</div><!-- /.navbar-collapse -->
		    </div>
		  </div><!-- /.container-fluid -->
		</nav>
	</header>
	
	<div class="chart-sign"></div>

	<section class="signup">
		<div class="container">
			<div id="sign-up-form-container" class="md-page">

			</div>
		</div>
	</section>

	<!-- Templates -->
	<script id="sign-up-form-template" type="text/template">
		<h1>Sign Up</h1>
		<form name="signUpForm" class="form-horizontal">
			<div class="form-group <%= firstName.error ? 'has-error' : '' %>">
				<label for="first-name" class="col-sm-2 control-label">First Name</label>
				<div class="col-sm-10">
					<input id="first-name" name="firstName" type="text" class="form-control"
						   placeholder="E.g. Ashwin" value="<%- firstName.value %>">
					<span class="help-block">
						<%- firstName.error ? 'This field is required' : '' %>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label for="last-name" class="col-sm-2 control-label">Last Name</label>
				<div class="col-sm-10">
					<input id="last-name" name="lastName" type="text" class="form-control"
						   placeholder="E.g. Hedge" value="">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<input id="email" name="email" type="email" class="form-control"
						   placeholder="E.g. aswinh@cybage.com" value="">
				</div>
			</div>
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input id="username" name="username" type="text" class="form-control"
						   placeholder="E.g. ashwinhegde" value="">
				</div>
			</div>
			<div class="form-group gap">
				<label for="password" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input id="password" name="password" type="password" class="form-control"
						   placeholder="Min. 8 Characters" value="">
				</div>
			</div>
			<div class="form-group gap">
				<label for="confirm-password" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input id="confirm-password" name="confirmPassword" type="password" class="form-control"
						   placeholder="Min. 8 Characters" value="">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default" onclick="submitSignUpForm()">Sign in</button>
				</div>
			</div>
		</form>
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			Test
		</div>
	</script>

	<!-- Common LIBS -->
	<script type="text/javascript" src="js/templateService.js"></script>
	<script type="text/javascript" src="js/normalizeLocalStorageService.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- END Common LIBS -->

	<script type="text/javascript" src="js/signUp.js"></script>
</body>
</html>